/*------------------------------------*\
    #FONT FACE SETTINGS
\*------------------------------------*/

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/suisse/SuisseIntl-Black-WebXL.eot');
    src: url('../fonts/suisse/SuisseIntl-Black-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suisse/SuisseIntl-Black-WebXL.woff') format('woff'),
         url('../fonts/suisse/SuisseIntl-Black-WebXL.woff2') format('woff2'),
         url('../fonts/suisse/SuisseIntl-Black-WebXL.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/suisse/SuisseIntl-BlackItalic-WebXL.eot');
    src: url('../fonts/suisse/SuisseIntl-BlackItalic-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suisse/SuisseIntl-BlackItalic-WebXL.woff') format('woff'),
         url('../fonts/suisse/SuisseIntl-BlackItalic-WebXL.woff2') format('woff2'),
         url('../fonts/suisse/SuisseIntl-BlackItalic-WebXL.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/suisse/SuisseIntl-Bold-WebXL.eot');
    src: url('../fonts/suisse/SuisseIntl-Bold-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suisse/SuisseIntl-Bold-WebXL.woff') format('woff'),
         url('../fonts/suisse/SuisseIntl-Bold-WebXL.woff2') format('woff2'),
         url('../fonts/suisse/SuisseIntl-Bold-WebXL.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/suisse/SuisseIntl-BoldItalic-WebXL.eot');
    src: url('../fonts/suisse/SuisseIntl-BoldItalic-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suisse/SuisseIntl-BoldItalic-WebXL.woff') format('woff'),
         url('../fonts/suisse/SuisseIntl-BoldItalic-WebXL.woff2') format('woff2'),
         url('../fonts/suisse/SuisseIntl-BoldItalic-WebXL.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/suisse/SuisseIntl-Book-WebXL.eot');
    src: url('../fonts/suisse/SuisseIntl-Book-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suisse/SuisseIntl-Book-WebXL.woff') format('woff'),
         url('../fonts/suisse/SuisseIntl-Book-WebXL.woff2') format('woff2'),
         url('../fonts/suisse/SuisseIntl-Book-WebXL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/suisse/SuisseIntl-BookItalic-WebXL.eot');
    src: url('../fonts/suisse/SuisseIntl-BookItalic-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suisse/SuisseIntl-BookItalic-WebXL.woff') format('woff'),
         url('../fonts/suisse/SuisseIntl-BookItalic-WebXL.woff2') format('woff2'),
         url('../fonts/suisse/SuisseIntl-BookItalic-WebXL.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}