@charset "UTF-8";

/*------------------------------------*\
    #FONT FACE SETTINGS
\*------------------------------------*/

@font-face {
    font-family: 'Chalet New York Nineteen Sixty';
    src: url('../fonts/chalet-new-york-sixty/Chalet-NewYorkSixty.otf');
    font-weight: normal;
    font-style: normal;
}