@charset "UTF-8";

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/*--- size ---------------------------*/

.text-xxl { font-size: 4.00rem; line-height: 1; letter-spacing: .01em; } // 64,75pt
.text-xl  { font-size: 2.90rem; line-height: 1.4; letter-spacing: .01em; } // 46,25pt
.text-l   { font-size: 1.75rem; line-height: 1.2; letter-spacing: .01em; } // 27,75pt
.cookieControl__ModalContent h3,
.cookieControl__BarContainer h3,
.text-m   { font-size: 1.45rem; line-height: 1.2; letter-spacing: .01em; } // 23.125pt
.cookieControl__ModalContent li span,
.cookieControl__ModalContent button,
.cookieControl__BarContainer p,
.cookieControl__BarContainer button,
.text-s   { font-size: 1.15rem; line-height: 1.5; letter-spacing: .01em; } // 18.5pt
.cookieControl__ModalContent li,
.text-xs  { font-size:  .95rem; line-height: 1.5; letter-spacing: .01em; } // 15.25pt

.text-menu    { font-size: 2.30rem; line-height: 1; letter-spacing: .01em; } // 64,75pt
.text-numbers { font-size: 7.00rem; line-height: .75; letter-spacing: .01em; } // 64,75pt

/*--- weight -------------------------*/

.text-w-100 { font-weight: 100; }
.text-w-200 { font-weight: 200; }
.text-w-300 { font-weight: 300; }
.text-w-400 { font-weight: 400; }
.text-w-500 { font-weight: 500; }
.text-w-600 { font-weight: 600; }
.text-w-700 { font-weight: 700; }
.text-w-800 { font-weight: 800; }

/*--- alignment ----------------------*/

.align-left    { text-align: left; }
.align-center  { text-align: center; }
.align-justify { text-align: justify; }
.align-right   { text-align: right; }

/*--- markup -------------------------*/

.up-case     { text-transform: uppercase; }
.text-bold   { font-weight: bold; }

.text-u-line-1 { border-bottom: 1px solid; padding-bottom: .1em; }

/*--- layout -------------------------*/

.text-inline { display: inline; }
.text-flat   { line-height: 0; }