@charset "UTF-8";

/*------------------------------------*\
    #RESPONSIVE 2
\*------------------------------------*/

@media all and (max-width: 1024px) {

  html { font-size: 1rem; }




  .col.col-resp-2-unit-12 { width: 100%; }
  .col.col-resp-2-unit-11 { width: 91.667%; }
  .col.col-resp-2-unit-10 { width: 83.333%; }
  .col.col-resp-2-unit-9  { width: 75%; }
  .col.col-resp-2-unit-8  { width: 66.667%; }
  .col.col-resp-2-unit-7  { width: 58.333%; }
  .col.col-resp-2-unit-6  { width: 50%; }
  .col.col-resp-2-unit-5  { width: 41.667%; }
  .col.col-resp-2-unit-4  { width: 33.333%; }
  .col.col-resp-2-unit-3  { width: 25%; }
  .col.col-resp-2-unit-2  { width: 16.667%; }
  .col.col-resp-2-unit-1  { width:  8.333%; }


  .pad-resp-2-lr-3-5 { padding-left: 3.5em; padding-right: 3.5em; }
  .pad-resp-2-lr-2-75 { padding-left: 2.75em; padding-right: 2.75em; }

  .pad-resp-2-b-4 { padding-bottom: 4em; }
  .pad-resp-2-b-1 { padding-bottom: 1em; }

  .pad-resp-2-r-6 { padding-right: 6em; }

  .mar-resp-2-lr-0-5 { margin-left: .5em; margin-right: .5em; }


  .resp-2-align-center {
    text-align: center;
  }



  .media-container-css-height-index-partner:after  { padding-bottom: 71.79%; }


  .pop-up {
    width: 85% !important;
  }

  .info-icon {
    width: 2em;
    height: 2em;
  }


}